.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(240, 216, 220);
}
.Column,
Row {
  display: flex;
  position: center;
  width: 50%;
  height: 50%;
}
.Row {
  flex-direction: row;
  position: center;
  width: 50%;
  height: 50%;
}
.Column {
  flex-direction: column;
  position: center;
  width: 50%;
  height: 50%;
}
